:root {
    --ion-toolbar-background: var(--ion-color-primary);
    --ion-toolbar-color: white;
    --ion-tab-bar-background: var(--ion-color-primary);
    --ion-tab-bar-color: white;
    --ion-tab-bar-color-selected: red;
}