/* --background	 */
ion-card {
  --background: #ffffff;
  border-top-left-radius: 30px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 0;
  border: 0.3px outset var(--ion-color-primary);
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.3));
}

.ionInput {
  --placeholder-color: var(--ion-color-primary);
  font-size: small;
}

ion-item {
  --background: #fff;
}

ion-button {
  --border-radius: 0;
}

.headerStyle {
  color: #fff;
  text-shadow: 0 1px 6px rgba(0, 0, 0, 0.6);
}
