/* --background	 */
ion-card {
  --background: #ffffff;
  border-top-left-radius: 30px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 0;
  border: 0.3px outset var(--ion-color-primary);
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.3));
}

.ionInput {
  --placeholder-color: var(--ion-color-primary);
  font-size: small;
}

ion-item {
}

ion-button {
  --border-radius: 0;
}

.headerStyle {
  color: #fff;
  text-shadow: 0 1px 6px rgba(0, 0, 0, 0.6);
}

ion-slides {
  height: 100%;
  background-color: #210b1a;
}

.slider {
  margin-bottom: 16%;
  padding: 1rem;
  margin-top: 15%;
}

.back {
  --background: #210b1a;
}

img {
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.9));
}

.txtStyle {
  text-shadow: 0 1px 17px rgba(0, 0, 0, 0.9);
}
